div {
    background-color: darkcyan;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 20px; 
}

h2, p {
    color: white;
}
    
#nickname-results {
    font-size: 25px;
}